<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

<div th:fragment="menu">
<p><a href="dodaj?opcja=DODAJ_PRZYCHOD" class="badge badge-primary"><button type= "button" class= "btn btn-primary btn-lg btn-block" style="width: 300px"> dodaj nowy przychód </button> </a></p>
<p><a href="dodaj?opcja=DODAJ_WYDATEK" class="badge badge-primary"> <button type= "button" class= "btn btn-primary btn-lg btn-block"style="width: 300px" > dodaj nowy wydatek </button></a></p>
<p><a href="listuj?opcja=POKAZ_PRZYCHODY" class="badge badge-primary"><button type= "button" class= "btn btn-primary btn-lg btn-block"style="width: 300px" > pokaż wszystkie przychody </button> </a></p>
<p><a href="listuj?opcja=POKAZ_WYDATKI" class="badge badge-primary"> <button type= "button" class= "btn btn-primary btn-lg btn-block"style="width: 300px" > pokaż wszystkie wydatki </button></a></p></div>
</div>

</body>
</html>